/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el width/height */
}

/* Estilo de la cabecera */
.header {
    background: #057df4;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilo del artículo principal */
.article {
    display: flex;
    justify-content: center;
    height: 85vh;
    position: relative;
    background-color: #f0f0f0; /* Fondo claro para el área principal */
}

/* Estilo para opciones ocultas */
.options {
    display: none;
}

.options.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    column-gap: 20px;
    background-color: #ffffff; /* Fondo blanco para el área de opciones */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón de retroceso */
#back-btn {
    width: 150px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f05454;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#back-btn:hover {
    background-color: #d43f3f; /* Color más oscuro al pasar el ratón */
}

/* Estilo para los botones principales */
#play, #options-btn, #gyro, #buttons {
    width: 200px;
    height: 70px;
    flex-basis: 0;
    flex-grow: 1;
    background-color: #057df4;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#play:hover, #options-btn:hover, #gyro:hover, #buttons:hover {
    background-color: #045bb1;
}

/* Estilo para la sección de controles */
#controls-section {
    display: none;
}

#controls-section.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    background-color: #fcfcfd;
    padding: 20px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
    max-width: 600px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    gap: 10px;
}

.controls-main {
    flex-direction: row;
    align-items: center;
}

/* Estilo para el indicador de luz */
#light {
    background: #575757;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agregar transiciones */
}

/* Estilo para el estado de luz */
#light.toggle {
    background-color: #f7ef07;
    box-shadow: 0px 0px 15px #ff3b3b;
}

/* Estilo para los botones de control */
.row-control {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px; /* Añadir espacio entre los botones */
    padding: 5px;
}

.control-btn-1, .control-btn {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover */
}

.control-btn-1 {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #057df4;
}

.control-btn {
    flex-grow: 1;
    background-color: #057df4;
}

.control-btn:hover {
    background-color: #02315f;
}

/* Estilo para el botón de parada */
#stop-btn {
    background-color: #ff5555;
}

#stop-btn.toggle {
    background: #750707;
}
#backward-btn.toggle {
    background: #02315f;
}
#forward-btn.toggle {
    background: #02315f;
}
/* Estilos para los controles deslizantes */
input[type="range"] {
    -webkit-appearance: none; /* Elimina el estilo predeterminado */
    appearance: none;
    width: 40%;
    margin: 0 10px;
    height: 30px; /* Aumenta aún más la altura del control deslizante */
    background-color: #ddd;
    border-radius: 6px;
    outline: none;
    transition: background 0.3s ease;
}

/* Estilo para el slider de la izquierda (que se desliza hacia la izquierda) */
#left {
    transform: rotate(180deg); /* Rota el slider 180 grados para que se deslice a la izquierda */
}

/* Estilo para el thumb de WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px; /* Aumenta el tamaño del thumb */
    height: 50px; /* Aumenta el tamaño del thumb */
    background: #057df4;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #045bb1; /* Cambiar color en hover */
    transform: scale(1.1); /* Efecto de agrandamiento al hacer hover */
}

/* Estilo para el thumb de Mozilla Firefox */
input[type="range"]::-moz-range-thumb {
    width: 50px; /* Aumenta el tamaño del thumb */
    height: 50px; /* Aumenta el tamaño del thumb */
    background: #057df4;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="range"]::-moz-range-thumb:hover {
    background: #045bb1; /* Cambiar color en hover */
    transform: scale(1.1);
}
/* Estilo para la sección del giroscopio */
#gyro-section {
    display: none; /* Comienza oculto */
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    background-color: #fcfcfd; /* Fondo claro para el área de giroscopio */
    padding: 20px;
}

#gyro-section.toggle {
    display: flex; /* Muestra la sección cuando se active */
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
    max-width: 600px;
}

.row-control {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px; /* Espacio entre los botones */
    padding: 5px;
}

/* Estilo para los botones de control del giroscopio */
.control-btn-1, #gyro-light {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover */
}

#gyro-light {
    background: #575757;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agregar transiciones */
}
#gyro-light.toggle{
    background-color: #f7ef07;
    box-shadow: 0px 0px 15px #ff3b3b;
}
.control-btn-1 {
    width: 80px; /* Ancho para los botones de control */
    height: 30px; /* Altura para los botones de control */
    background-color: #057df4;
}

.control-btn:hover {
    background-color: #02315f; /* Color en hover */
}

/* Estilo para el botón de parada */
#gyro-stop {
    background-color: #ff5555;
}

#gyro-stop.toggle {
    background: #750707; /* Color cuando está activado */
}

/* Estilos para el botón de retroceso */
#gyro-backward {
    background: #057df4;
}

#gyro-backward.toggle {
    background: #02315f; /* Color cuando está activado */
}

/* Estilos para el botón de avance */
#gyro-forward {
    background: #057df4;
}

#gyro-forward.toggle {
    background: #02315f; /* Color cuando está activado */
}
